.container {
  width: 90%;
  margin: 0 auto;
  display: block;
}

.hero_container {
  display: flex;
  flex-wrap: wrap;
}

img {
  max-height: 163px;
  margin: 5px;
}

header {
  background: #333;
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 20;
  min-height: 57px;
  padding: 1em;
  width: 100%;
}
