{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'css/practiceapp.css' %}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>SuperHeros</title>
  </head>
  <body>
    <div class="container">
      <header>
        <h1>SuperHeros</h1>
        <nav>
          <a href="/">Home</a> |
          <a>Log In</a>
        </nav>
      </header>
      {% block content %} {% endblock %}
    </div>
  </body>
</html>
